div.gallery-slider-container {
  max-width: 1080px;
  margin: auto;
  div.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: max-content;
    position: relative;
    right: -30px;

    @media (max-width: $small-screens) {
      right: -10px;
    }

    div.grid-box {
      height: 230px;
      width: 230px;
      background: {
        repeat: no-repeat;
        color: $secondary-color;
        size: contain;
      }
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      margin-bottom: 15px;
      &:hover {
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        transform: scale(1.05);
      }
    }
  }
}
